<div class="container">
	<div class="jumbotron contact-jumbotron">
		<h1>We're ready to help.</h1>
		<h3 class="lead">Want to know more about 2Chez? Need a reservation?<br>Ask about private parties or catering!</h3>
		<div class="container">
			<div class="row">
	  			<div class="col-md-6">
	  				<div class="container">
						<p class="lead">
						Find us at<br>
						7815 N. Knoxville Ave.<br>
						Peoria, IL, 61614
						</p>
						<a class="btn btn-lg btn-success btn-bottom non-mobile" href="https://maps.google.com/maps?saddr=current+location&daddr=7815+N.+Knoxville+Ave.+Peoria,+IL,+61614&hl=en&sll=3.337954,-149.238281&sspn=109.352588,186.152344&geocode=FfMCawIdLjGo-inr6gulEPQKiDHeatTC4wLXrw%3BFftLbgIdcr-o-iFbeY4V--sHGyl3oy3hOFsKiDFbeY4V--sHGw&mra=ls&t=m&z=11" type="button">
							Get Directions
						</a>
						<div class="btn-group-vertical mobile">
							<a class="btn btn-lg btn-bottom btn-success mobile" href="tel:+13096912224" type="button">
								<span class="glyphicon glyphicon-earphone"></span>
								(309) 691-2224
							</a>
							<a class="btn btn-lg btn-bottom btn-info mobile" href="mailto:toddhohulin@mchsi.com" type="button">
								<span class="glyphicon glyphicon-envelope"></span>
								Email Us
							</a>
							<a class="btn btn-lg btn-primary btn-bottom mobile" href="https://maps.google.com/maps?saddr=current+location&daddr=7815+N.+Knoxville+Ave.+Peoria,+IL,+61614&hl=en&sll=3.337954,-149.238281&sspn=109.352588,186.152344&geocode=FfMCawIdLjGo-inr6gulEPQKiDHeatTC4wLXrw%3BFftLbgIdcr-o-iFbeY4V--sHGyl3oy3hOFsKiDFbeY4V--sHGw&mra=ls&t=m&z=11" type="button">
								<span class="glyphicon glyphicon-road"></span>
								Directions
							</a>
	  					</div>
	  				</div>
				</div>
	  			<div class="col-md-6">
	  				<div class="container">
						<p class="lead non-mobile">
							Give us a call or<br>
							shoot Todd an email.<br>
							<b>Call: (309) 691-2224</b>
						</p>
						<a class="btn btn-lg btn-info btn-bottom non-mobile" href="mailto:toddhohulin@mchsi.com" type="button">
							Email Todd
						</a>
	  				</div>
	  			</div>
			</div>
		</div>
	</div>
</div>
<div class="navbar-fixed-bottom">
  <div class-"navbar-inner">
    <div class="bar-wrapper">
      <div class="btn-group">
        <a href="/" class="btn bar-btn">
          Home
        </a>
        <a href="/about" class="btn bar-btn">
          Our Story
        </a>
        <div class="btn-group">
          <a class="btn dropdown dropdown-toggle bar-btn" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Menu
          </a>
          <ul class="dropdown-menu dropup welcome-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lunch</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dinner</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Small Plates</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cocktails</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <a class="btn dropdown dropdown-toggle bar-btn" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Hours
          </a>
          <ul class="dropdown-menu dropup welcome-hours" role="menu" aria-labelledby="dropdownMenu2">
            <li role="presentation" class="dropdown-header">
              <span style="color:#c00; font-weight: bold;">M-Th:</span> 11am-2pm, 5pm-9pm
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">
              <span style="color:#c00; font-weight: bold;">Fri:</span> 11am-2pm, 5pm-10pm
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">
              <span style="color:#c00; font-weight: bold;">Sat:</span> 5pm-10pm
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">
              <span style="color:#c00; font-weight: bold;">Sun:</span> Closed
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
