<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/8-images/icon.png">
    <title><%= @title %> | 2Chez</title>


    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <!-- Stylesheet -->
    <link href="<%= @css %>.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style id="holderjs-style" type="text/css"></style>
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <section class="welcome-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">
                            <a class="logo-link" href="/">
                                <span class="two">2</span>Chez
                            </a>
                        </h3>
                        <ul class="nav masthead-nav">
                            <li class="phone">
                                <a class="logo-link" href="tel:+13096912224" title="Call Us">
                                    <span class="glyphicon glyphicon-earphone"></span>
                                </a>
                            </li>
                            <li>
                                <a class="logo-link" href="mailto:toddhohulin@mchsi.com" title="Email Us">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/zachpflederer" title="Follow Us on Twitter">
                                    <img class="link-img" src="/8-images/twitter-logo.png" alt="Twitter">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            
            <%= yield %>

            
            <footer>
                <div class="inner footer">
                    <div class="container">
                        <div class="row inner inner-dividers">
                            <div class="col-md-8 left-align">
                                <h3>
                                    HOURS
                                </h3>
                                <p>
                                    LUNCH<br>
                                    Monday - Friday, 11am - 2pm<br>
                                </p>
                                <p>
                                    DINNER<br>
                                    Monday - Thursday, 5pm - 9pm<br>Friday & Saturday, 5pm - 10pm
                                </p>
                            </div>
                            <div class="col-md-4 left-align non-mobile">
                                <h3>
                                    LOCATION
                                </h3>
                                <p>
                                    7815 N Knoxville Ave<br>
                                    Peoria, IL 61614
                                </p>
                                <p>(309) 691-2224</p>
                                <p><br>Catering and takeout available.</p>
                                <ul class="nav masthead-nav pull-left">
                                    <li>
                                        <a class="logo-link" href="mailto:toddhohulin@mchsi.com" title="Email Us">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/zachpflederer" title="Follow Us on Twitter">
                                            <img class="link-img" src="/8-images/twitter-logo.png" alt="Twitter">
                                        </a>
                                    </li>
                                    <li class="phone">
                                        <a class="logo-link" href="tel:+13096912224" title="Call Us">
                                            <span class="glyphicon glyphicon-earphone"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <p>Site design by <a href="https://twitter.com/zachpflederer">@zachpflederer</a>, jumpstarted with <a href="http://getbootstrap.com">Bootstrap</a>.</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="../../assets/js/docs.min.js"></script> -->
</body>
</html>