<div class="navbar">
        <div class-"navbar-inner">
          <div class="bar-wrapper">
            <div class="btn-group">
              <a href="/about" class="btn bar-btn">
                Our Story
              </a>
            <div class="btn-group">
              <a class="btn dropdown dropdown-toggle bar-btn" type="button" id="dropdownMenu1" data-toggle="dropdown">
                Menu
              </a>
              <ul class="dropdown-menu dropup welcome-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lunch</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dinner</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cocktails</a></li>
              </ul>
            </div>
              <a href="/contact" class="btn bar-btn">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="welcome-container">
          <div class="navbar-inner">
            <div class="inner bottom-bar">
              <p>Site design by <a href="https://twitter.com/zachpflederer">@zachpflederer</a>, jumpstarted with <a href="http://getbootstrap.com">Bootstrap</a>.</p>
            </div>
          </div>
        </div>
      </div>