<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <title><%= @title %> | MovieList</title>
  </head>
  <body>
    <img class="background-image" src="/hollywood.jpg" alt="background-image">
  	<div class="wrapper">
      <%= yield %>
  	</div>
  </body>
</html>