
/*Light Gray outline for each element. Comment out upon publishing!!*/

* {
	/*border: 1px solid lightGray;*/
}

/*Main Divs: Header, Center, and (opt)Footer*/

#header {
	background-color: #009090;
	height: 3em;
	width: full;
	margin: none;
	/*border-radius: 1em;*/

}


#center {
	
	position: relative;
	margin: auto;
	clear: both;

}

/*Default Settings*/
html {
	background-color: #faf8f8;
}

head {
	background-color: #faf8f8;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div {
	background-color: #faf8f8;
}

/*Header Elements*/

h3 {
	color: lightGray;
	font-size: 2em;
	clear: right;
	float: left;
	padding-left: 1em;
	display: inline;
	margin-top: .15em;
	font-style: italic;
}

ul {
	float: right;

}

li {
	display: inline;
	color: #cfffff;
	padding-right: 1.5em;
	font-size: 1em;
}

/*Links*/

a {
	text-decoration: none;
	color: #faf8f8;
}

/*Center Elements*/

table {
	position: relative;
	margin: auto;
	padding-top: 150px;
	padding-bottom: 100px;


}

td {
	border: none;
	height: 4em;
	width: 4em;

}

th {
	width: 640px;
	padding-bottom: 25px;
	
}

.th_textbox {
	width: 480px;
}

#gravatar_image {
	height: 8em;
	width: 8em;
	border-radius: 100%;
	border: 3px solid #009090;
	background-image: url(http://www.gravatar.com/avatar/205e3db441112353fd8f76a108e2a839);
	background-size: 8em;

	margin: 1em -2em 1em 1em;
	
}

/*#gravatar_image:hover {
	-webkit-filter: opacity(30%);
    -moz-filter: opacity(30%);
    -o-filter: opacity(30%);
    -ms-filter: opacity(30%);
    filter: opacity(30%); 
    color: #009090;
    font-size: 1em;
}*/


#th_title {
	color: orange;
	font-weight: bolder;
	font-size: 5em;
	float: left;
	padding-top: .1em;


}

#th_subtitle {
	color: #009090;
	font-size: 2em;
	font-weight: lighter;
	letter-spacing: 8px;
	float: left;
	clear: left;

}

/*Empty_site divs are to be deleted and replaces with circle links to websites!*/
.empty_site {
	height: 2em;
	width: 2em;
	border: 3px solid orange;
	border-radius: 100%;
	margin: auto;
}

.text_site {
	height: 4em;
	width: 4em;
	border: 2px solid #009090;
	background-color: orange;
	color: #faf8f8;
	border-radius: 100%;
	margin: auto;
	font-size: 1em;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;

	transition:.5s;
}

.text_site:hover {
	background-color: #FFCC99;
	color: #009090;
}


.text_site_text {
		text-align: center;
}

.image_site {
	height: 4em;
	width: 4em;
	border: 1px solid #009090;
	background-color: orange;
	color: #faf8f8;
	border-radius: 100%;
	margin: auto;
	font-size: 1em;
	overflow: hidden;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;

	transition:.5s;
	position: relative;
	vertical-align: middle;

}

.image_site img {
	height: 4em;
	width: auto;
	padding: inherit;
	position: absolute;
	overflow: hidden;
}

.image_site:hover {
	background-color: #FFCC99;
}

.image_site img:hover {
	opacity: 0.7;
}

.image_site .text {
	color: #009090;
	vertical-align: middle;
}

.image_site:hover .text {
	visibility: visible;
	z-index: 100;
	position: relative;
}

.image_site .text:hover {
	color: white;
}