<div class="yield-wrapper" class="pull-left">

<section class="head">
  <div class="pull-left"> 
  	<div class="left-wrapper">
    	<h1 class="title">MovieList</h1>
  	</div>
  </div>
  <div class="pull-right">
  	<div class="right-wrapper">
    	<ul class="spaced">
    	  <li><a href="/login">LOGIN</a></li>
    	  <li><a href="http://zachpflederer.com">WEEKLY WEBSITE</a></li>
    	  <li><a href="http://zachpflederer.tumblr.com">BLOG</a></li>
    	  <li><a href="https://twitter.com/zachpflederer">TWITTER</a></li>
    	  <li><a href="https://github.com/zpfled">GITHUB</a></li>
    	</ul>
  	</div>
  </div>
</section>
<section class="about">
	<div class="pull-left">
		<div class="left-wrapper">
			<h2 class="tagline">Never<br>forget again, anymore</h2>
		</div>
	</div>
	<div class="pull-right">
		<div class="right-wrapper">
			<p class="tag-p">
				Are you tired of seeing cool
				movie trailers, thinking
				"I really need to see that",
				then forgetting all about it
				by the time it's out on DVD?
			</p>
			<p class="tag-p">
				<br>Yeah, me too.
			</p>
		</div>
	</div>
</section>
<section class="signin">
	<form action="/" method="post">
		<div class="pull-left">
			<div class="left-wrapper">
				<input class="big-btn" type="submit" value="sign in">
			</div>
		</div>
		<div class="pull-right">
			<div class="right-wrapper">
				<div>
					<input class="textfield" type="text" name="[username]" placeholder ="create a username"></input>
				</div>
				<div>
					<input class="textfield" type="password" name="[password]" placeholder ="create a password"></input>
				</div>
			</div>
		</div>
	</form>	
</section>

</div>