<div class="yield-wrapper" class="pull-left">
	<section class="head">
	  <div class="pull-left"> 
	  	<div class="left-wrapper">
	    	<h1 class="title">MovieList</h1>
	  	</div>
	  </div>
	  <div class="pull-right">
	  	<div class="right-wrapper">
	    	<ul>
	    	  <li><a href="/">HOME</a></li>
	    	  <li><a href="http://zachpflederer.com">WEEKLY WEBSITE</a></li>
	    	  <li><a href="http://zachpflederer.tumblr.com">BLOG</a></li>
	    	  <li><a href="https://twitter.com/zachpflederer">TWITTER</a></li>
	    	  <li><a href="https://github.com/zpfled">GITHUB</a></li>
	    	</ul>
	  	</div>
	  </div>
	</section>
	<section class="login">
		<form action="/login" method="post">
  			<div class="pull-left">
  				<div class="left-wrapper">
  					<input class="big-btn" type="submit" value="log in">
  				</div>
			</div>
			<div class="pull-right">
				<div class="right-wrapper">
					<div>
						<input class="textfield" type="text" name="username" placeholder="enter username"></input>
					</div>
	  				<div>
	  					<input class="textfield" type="password" name="password" placeholder="enter password"></input>
	  				</div>
  				</div>
			</div>
		</form>
	</section>
</div>