<section id="add">  
  <form action="/" method="post">  
    <div class="form-instructions" class="pull-left" class="left-block">
      <p>
        Hi, I'm <br>
        <textarea rows="1" cols="20" class="text-input" name="content" placeholder="username (e.g. zpfled)"></textarea>
        <br>
        and I think that<br>
        <textarea rows="1" cols="35" class="text-input" name="player" placeholder="prospect (e.g. DJ Williams, Jabari Parker)"></textarea>
        <br>
        will attend college at<br>
        <textarea rows="1" cols="45" class="text-input" name="school" placeholder="college prediction (e.g. Illinois, Duke, Ohio State)"></textarea>
      </p>
    </div>
    <div class="form-instructions" class="pull-right">
      <input id="sharpie" type="submit" value="Sharpie!">
    </div>
  </form>  
</section>