<section class="inner">

  <section class="welcome-header">
    <h1>Casual Fine Dining</h1>
  </section>

  <section class="content push-down">
    <h1>Menu</h1>
    <p>Menu items go here</p>
  </section>

  <section class="content">
    <h1>Hours</h1>
        <h2>Lunch</h2>
        <p>Monday - Friday</p>
        <p>11am - 2pm</p>
    <h2>Dinner</h2>
        <p class="remove-bottom-margin">Monday - Thursday</p>
        <p>5 - 9pm</p>
        <p class="remove-bottom-margin">Friday &amp; Saturday</p>
        <p>5 - 10pm</p>
  </section>

  <section class="content">
    <h1>Our Story</h1>
    <p>The story goes here</p>
  </section>

</section>