<footer>
    <div class="content">
        <div class="inner">
            <div class="row inner inner-dividers">
                <div class="col-md-8 left-align">
                    <h3>
                        hours
                    </h3>
                    <p>
                        lunch<br>
                        Monday - Friday, 11am - 2pm<br>
                    </p>
                    <p>
                        dinner<br>
                        Monday - Thursday, 5pm - 9pm<br>Friday &amp; Saturday, 5pm - 10pm
                    </p>
                </div>
                <div class="col-md-4 left-align non-mobile">
                    <h3>
                        location
                    </h3>
                    <p>
                        7815 N Knoxville Ave<br>
                        Peoria, IL 61614
                    </p>
                    <p>(309) 691-2224</p>
                    <p><br>Catering and takeout available.</p>
                    <ul class="nav pull-left">
                        <li>
                            <a class="logo-link" href="mailto:toddhohulin@mchsi.com" title="Email Us">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/zachpflederer" title="Follow Us on Twitter">
                                <img class="link-img" src="/images/twitter-logo.png" alt="Twitter">
                            </a>
                        </li>
                        <li class="phone">
                            <a class="logo-link" href="tel:+13096912224" title="Call Us">
                                <span class="glyphicon glyphicon-earphone"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="inner">
            <p>Site design by 
                <a href="https://twitter.com/zachpflederer">@zachpflederer</a>
                 and 
                 <a href="https://twitter.com/DavidLCrow">@DavidLCrow</a>
                 , jumpstarted with <a href="http://getbootstrap.com">Bootstrap</a>.</p>
        </div>
    </div>
</footer>