<section class="welcome-header">
  <div class="inner">
    <h1>Casual Fine Dining</h1>
  </div>
</section>

<section class="content-block push-down">
  <%= erb :menu, layout: false %>
  <section id="hours" class="content">
    <div class="inner">
      <h1>Hours</h1>
          <h2>Lunch</h2>
          <p>Monday - Friday</p>
          <p>11am - 2pm</p>
      <h2>Dinner</h2>
          <p class="remove-bottom-margin">Monday - Thursday</p>
          <p>5 - 9pm</p>
          <p class="remove-bottom-margin">Friday &amp; Saturday</p>
          <p>5 - 10pm</p>
    </div>
  </section>

  <section id="story" class="content">
    <div class="inner">
      <h1>Our Story</h1>
      <p>We are a restaurant. We serve food and drinks. That's really all there is to the story. What did you expect, Garrison freakin' Keillor?!?</p>
    </div>
  </section>

  <%= erb :footer, layout: false %>
</section>