/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

a:focus,
a:hover {
  text-decoration: underline;
}

.logo-link:hover,
.logo-link:focus {
  text-decoration: none;
}

.link-img {
  height: 20px;
  width: auto;
  opacity: .75;
}

.glyphicon {
  font-size: 20px;
  vertical-align: bottom;
}

.phone {
  visibility: hidden;
  display: none;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #444;
  background: url('./8-images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  z-index: -1;
}
.welcome-container {
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.bar-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, .75);
}

/* Padding for spacing */
.inner {
  padding: 20px;
}

/*
 * Header
 */

.masthead {
  position: relative;
  z-index: 1;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.masthead-brand a:hover,
.masthead-brand a:focus {
  border-bottom: 3px solid;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav {
  z-index: 2;
  display: block;
}

.masthead-nav li {
  display: inline-block;
  z-index: 3;
  position: relative;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
    font-size: 8em;
  }
  .masthead-nav {
    float: right;
  }
}

/*
* Navbar
*/

.navbar-fixed-bottom {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: auto;
}

.bottom-nav {
  background-color: #555;
  width: 100%;
}

/*.trans-white {
  background-color: rgba(255, 255, 255, .3);
  padding: 4em 0 4em 0;
}*/

.bar-btn {
  height: 75px;
  padding: 0 1em 0 1em;

  display: table-cell;

  margin-bottom: 0;


  line-height: 3.428571429;
  text-align: center;

  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;

  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: .15em;
  text-transform: uppercase;

  border: 1px solid #999;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  background-color: #fff;
  color: #777;
  text-shadow: none;
}

.bar-btn:hover {
  background-color: #eee;
}

.bar-btn a {
  color: inherit;
  text-decoration: none;
}

.welcome-menu {
  text-shadow: none;
  width: 100%;
  bottom: 100%;
  top: auto !important;
}

.welcome-hours {
  text-shadow: none;
  width: 100%;
  bottom: 100%;
  top: auto !important;

  text-align: left;
}

.welcome-hours li {
  display: inline-block;
  text-decoration: none;
  color: #444;
  font-size: 13px;
}

/*
 * Footer
 */

footer {
  position: absolute;
  top: 100%;
  width: 100%;
}

.bottom-bar {
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
}

.jumbotron .container {
  overflow: hidden;
}

/*
* Contact Page
*/

.contact-jumbotron {
  background-color: rgba(25, 25, 25, .75);
  width: 85%;
  border: 2px solid #eee;
  border-radius: 1em;
  margin-top: 160px !important;
  padding: 1em;
  position: relative;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.block {
  position: relative;
  margin-top: 1em;
  overflow: hidden;
}

/*
 * For tablets and bigger
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .welcome-container,
  .bar-wrapper {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .bar-wrapper {
    margin-top: 30%;
  }

  .mobile {
    display: none;
  }

  .non-mobile {
    display: inherit;
  }
}

/*
* For laptops and bigger
*/

@media (min-width: 992px) {
  .masthead,
  .welcome-container {
    width: 90%;
  }

  .bar-btn {
    padding: 0 3em 0 3em;
  }
}





/*
* For iPhones
*/

@media (max-width: 767px) {
  body {
    background-color: inherit;
    /*background: url('./8-images/background.jpg') no-repeat center center fixed; */
      /*-webkit-background-size: cover;*/
      /*-moz-background-size: cover;*/
      /*-o-background-size: cover;*/
    /*background-height: cover;*/
  }

  footer {
    position: relative;
  }

  .welcome-heading {
    font-size: 1.5em;
  }

  .bar-wrapper {
    margin-top: 30%;
  }

  .welcome-menu {
    width: 100%;
    position: static;
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 2em;
  }

  .welcome-menu li {
    padding: .3em 0 .3em 0;
  }
  
  .welcome-hours {
    width: 100%;
    position: static;
    text-align: center;
  }

  .divider {
    display: none;
  }

  .navbar-fixed-bottom {
    position: relative;
  }

  .bar-btn,
  .btn-group {
    min-width: 100%;
  }

  .bar-btn {
    border-top: 1px solid #999;
    border-left: none;
    border-right: none;
  }

  .link-img {
      height: 20px;
    width: auto;
    opacity: 1;
  }

  .glyphicon {
    font-size: 20px;
    vertical-align: bottom;
    color: #fff;
    opacity: 1;
  }
  
  .phone {
    visibility: visible;
    display: inherit;
  }

  .contact-jumbotron {
    margin-top: 50px !important;
    overflow: hidden;
    width: 100%;
  }

  .mobile {
    display: inherit;
  }

  .non-mobile {
    display: none;
  }
}

.btn-bottom {
  width: 100%;
}

.btn-disabled {
  color: #ffffff;
  background-color: inherit;
  border-color: #eee;
}

.btn-disabled:hover {
  color:inherit;
}